{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
    <ul class="thumbnails">
    {% for product in products %}
            <li class="span3">            
            <a class="thumbnail" href="/detailProduk/{{ product.id }}" >
                <img alt="" src="static/uploads/{{ product.prod_image_main }}" />
            </a>                    
            <h4>{{ product.prod_name }} </h4>
          <p> Stock: {{ product.prod_stock }} <br />
              {{ product.prod_price }} </p>
        </li>
    {% endfor %}
</ul>
{% endblock %}