{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}

    {% for product in products %}
        <table>
            <tbody>
                <tr><td><img src="static/uploads/{{ product.prod_image_main }}" width="100px" height="200px"/></td>
                <td>Product Name : {{ product.prod_name }} <br />Stock: {{ product.prod_stock }} <br />{{ product.prod_desc }} <br /></td></tr>
            </tbody>
        </table>
        <p></p>
    {% endfor %}

{% endblock %}